In [1]:
import numpy as np
import pandas as pd
import itertools
import io

from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.preprocessing import scale
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC

In [2]:
#from google.colab import files
#uploaded = files.upload()
train_data = pd.read_csv('../data/train.csv')
test_data = pd.read_csv('../data/test.csv')
variabals = pd.read_csv('../data/VariableDescription.csv')
display(train_data.head())

,BCT_CODBUR,CTR_MATFIS,CTR_CATEGO_X,FJU_CODFJU,CTR_CESSAT,ACT_CODACT,CTR_OBLDIR,CTR_OBLACP,CTR_OBLRES,CTR_OBLFOP,...,target,FAC_MNTPRI_F,FAC_MFODEC_F,FAC_MNTDCO_F,FAC_MNTTVA_F,FAC_MNTPRI_C,FAC_MFODEC_C,FAC_MNTDCO_C,FAC_MNTTVA_C,id
0,49,14185,P,99,1,6101,4,2,2,2,...,13.575957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id0
1,221,6032,P,99,0,6271,8,2,1,1,...,11.692894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id1
2,181,8907,P,99,0,6102,4,2,2,2,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id2
3,252,5783,M,22,0,4403,4,2,2,2,...,16.237871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id3
4,234,1477,P,99,0,6312,8,2,2,1,...,13.399983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id4

In [3]:

train_x = train_data.dropna(axis=1)

le =LabelEncoder()


train_x=train_x.drop(columns=['EXE_EXERCI'],axis=1)

train_x['CTR_CATEGO_X']=le.fit_transform(train_x['CTR_CATEGO_X'])

train_x=train_x.drop(columns=['id'],axis=1)
display(train_x.head())
X=train_x.drop('target',1)
y=train_x['target']
cols =train_x.columns
print(cols)

scale = MinMaxScaler()

train_x=scale.fit_transform(train_x)

,BCT_CODBUR,CTR_MATFIS,CTR_CATEGO_X,FJU_CODFJU,CTR_CESSAT,ACT_CODACT,CTR_OBLDIR,CTR_OBLACP,CTR_OBLRES,CTR_OBLFOP,CTR_OBLTFP,CTR_OBLDCO,CTR_OBLTVA,CTR_OBLTCL,CTR_RATISS,RES_ANNIMP,target
0,49,14185,3,99,1,6101,4,2,2,2,2,1,2,3,0,2013,13.575957
1,221,6032,3,99,0,6271,8,2,1,1,1,1,2,3,0,2013,11.692894
2,181,8907,3,99,0,6102,4,2,2,2,2,1,2,3,0,2015,0.000000
3,252,5783,1,22,0,4403,4,2,2,2,2,1,2,3,0,2015,16.237871
4,234,1477,3,99,0,6312,8,2,2,1,1,1,2,3,0,2015,13.399983

Index(['BCT_CODBUR', 'CTR_MATFIS', 'CTR_CATEGO_X', 'FJU_CODFJU', 'CTR_CESSAT',
       'ACT_CODACT', 'CTR_OBLDIR', 'CTR_OBLACP', 'CTR_OBLRES', 'CTR_OBLFOP',
       'CTR_OBLTFP', 'CTR_OBLDCO', 'CTR_OBLTVA', 'CTR_OBLTCL', 'CTR_RATISS',
       'RES_ANNIMP', 'target'],
      dtype='object')

In [4]:
test_x = test_data.dropna(axis=1)
test_x['CTR_CATEGO_X']=le.fit_transform(test_x['CTR_CATEGO_X'])

test_x=test_x.drop(columns=['EXE_EXERCI'],axis=1)
test_x['CTR_CATEGO_X']=le.fit_transform(test_x['CTR_CATEGO_X'])

test_x=test_x.drop(columns=['id'],axis=1)
display(test_x.head())
train_x=scale.fit_transform(train_x)

E:\Anaconda3\envs\ml_comp\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,BCT_CODBUR,CTR_MATFIS,CTR_CATEGO_X,FJU_CODFJU,CTR_CESSAT,ACT_CODACT,CTR_OBLDIR,CTR_OBLACP,CTR_OBLRES,CTR_OBLFOP,CTR_OBLTFP,CTR_OBLDCO,CTR_OBLTVA,CTR_OBLTCL,CTR_RATISS,RES_ANNIMP
0,9,11802,2,99,0,6306,8,2,2,2,2,1,2,3,0,2015
1,255,2713,0,99,0,4409,4,2,2,2,2,1,2,3,0,2016
2,201,152,1,22,0,3603,4,2,2,2,2,1,2,3,0,2016
3,302,7698,1,22,0,4203,4,2,2,2,2,1,2,3,0,2013
4,152,544,2,99,0,6307,4,2,2,2,2,1,2,3,0,2013

In [5]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

pred = lr.fit(X, y).predict(test_x)
submission = pd.DataFrame(index=test_x.index,columns=['client_id','target'])
submission['client_id']=test_data['id']
submission['target']=pred
submission.to_csv('../data/submission_LR.csv',index=False)

In [6]:
from sklearn.ensemble import RandomForestRegressor

my_model = RandomForestRegressor()
pred=my_model.fit(X, y).predict(test_x)

submission = pd.DataFrame(index=test_x.index,columns=['client_id','target'])
submission['client_id']=test_data['id']
submission['target']=pred
submission.to_csv('../data/submission_RF.csv',index=False)

E:\Anaconda3\envs\ml_comp\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)